  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container-page {
      display: flex;
      flex-direction: column;
      padding: 3rem 10rem;
      align-items: center;
  }
  @media screen and (max-width: 992px) {
      .container-page {
        padding: 2rem;
      }
  }
    
  .page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  @media (max-width: 768px) {
    .page {
      flex-direction: column;
      align-items: center;
    }
  }

  .left-page {
    flex: 3;
    width: 100%;
  }
  @media (min-width: 768px) {
    .left-page {
      flex: 3;
      max-width: 75%;
    }
  }

  .right-page {
    flex: 1;
    margin-left: 2rem;
    width: 100%;
  }
  @media (min-width: 768px) {
    .right-page {
      max-width: 25%;
    }
  }

  .toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
    
  .toggle h2 {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Titillium Web", sans-serif;
    color: #5CB85C;
    position: relative;
  }
  .toggle h2::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #5CB85C;
    position: absolute;
    left: 0;
    bottom: -17px;
  }
  .article{
    background-color: #ffffff;
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .article-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }  
  .article-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  } 
  .article-avatar img {
    border-radius: 50%;
    width: 30px;
    margin-right: 1rem;
    cursor: pointer;

  }
    
  .article-details h1 {
    font-size: 15px;
    font-weight: 500;
    font-family: "Titillium Web", sans-serif;
    color: #5CB85C;
    margin: 0;
    cursor: pointer;
  }
  .article-details h1:hover {
    color: #4b944b;
    text-decoration: underline;
  }
    
  .article-details p {
    font-family: "Titillium Web", sans-serif;
    font-size: 0.8rem;
    color: #bbb;
    margin: 0;
  }
  .article-content{
    text-decoration: none;
  }
  .article-content h2 {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
  }
  
  .article-content p {
    font-family: "Titillium Web", sans-serif;
    color: #969595;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
  }
 
  
  .article-favorite button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    gap: 3px;
  }
  .heart-btn{
    border: 1px solid #5CB85C;
    border-radius: 0.2rem;
    background: none;
    color: #5CB85C;
    cursor: pointer;
    width: 50px;
    padding: 0.2rem 0.2rem;
  }
  .article-favorite button:hover {
    background-color: #5CB85C;
    color: #fff;
  }

  .article-favorite button span {
    margin-left: 0.5rem;
  }

  .article-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  span{
    font-family: "Titillium Web", sans-serif;
    font-size: 0.8rem;
    color: #bbb;
    cursor: pointer;
  }
  .article-tags{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    cursor: pointer;
  }
  .article-tags span{
    background-color: #fcfcfc;
    border-radius: 15px;
    font-size: 0.7rem;
    color: #bbb;
    border: #bbb 1px solid;
    padding: 1px 5px;
  }
  
  .popular-tags {
    background-color: #f4f4f4;
    padding: 1rem;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
    border-radius: 4px;
  }
  
  .popular-tags p {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    color: #504f4f;
  }
  
  .tag-list a {
    display: inline-block;
    background-color: #818a91;
    color: white;
    border-radius: 20px;
    padding: 3px 5px;
    margin: 2px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    font-family: "Titillium Web", sans-serif;

  }
  
  .tag {
    background-color: #efefef;
    border-radius: 3px;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: #555;
  }
  